<!DOCTYPE html>
<html>
    <head>
        <title> My First Python Web page</title>
    </head>
    <body>
        <h1>Welcome to My First Python Web Page!</h1>
        <p>
            Hello, I am here to learn web dev using Python.
        </p>
        <ul>
            <li>Flask is a lightweight web framework for Python.</li>
            <li>This page is rendered using a Jinja2 template.</li>
            <li>You can add more routes and templates as you learn.</li>
        </ul>
        <img src="https://www.python.org/static/community_logos/python-logo.png" alt="Python Logo" width="150"/>
        <footer>
            <p>Created by Radhe | July 2025</p>
        </footer>
    </body>
</html>